---
import { FaChevronDown } from 'react-icons/fa';
---

<a href="#proyectos" class="scroll-down">
    <FaChevronDown size={40} className="arrow-down" />
</a>

<style>
    .scroll-down {
        position: absolute;
        bottom: 2vh;
        left: 50%;
        transform: translateX(-50%);
        animation: fadeInOut 2s ease-in-out infinite;
    }

    .arrow-down {
        color: #303030;
        width: 40px;
        height: 40px;
    }

    @keyframes fadeInOut {
        0% {
            opacity: 0;
            transform: translateX(-50%) translateY(-20px);
        }
        50% {
            opacity: 1;
            transform: translateX(-50%) translateY(0);
        }
        100% {
            opacity: 0;
            transform: translateX(-50%) translateY(20px);
        }
    }

    @media (max-width: 768px) {
        .scroll-down {
            margin-top: 2rem;
        }
    }
</style>
