---
import { FaGithub, FaLinkedin, FaXTwitter } from 'react-icons/fa6';
---
<div class="container">
	<div class="content">
		<h1>Proyectos <span>100%</span></h1>
		<img src="/js.svg" alt="Icono JS" class="icon-js" />
	</div>
	<section class="presentation-container">
		<p class="description">
			Como desarrollador apasionado por la innovación tecnológica, he creado esta plataforma para documentar mi viaje de aprendizaje y crecimiento en JavaScript. A través de proyectos dinámicos e interactivos, exploro las últimas tecnologías y frameworks del ecosistema web moderno, comprometiéndome con la excelencia y el aprendizaje continuo para crear soluciones digitales impactantes.
		</p>
		<div class="social-buttons">
			<a href="https://github.com/byronnDev" class="button" target="_blank">
					<FaGithub />
					GitHub
			</a>
			<a href="https://www.linkedin.com/in/mikel-echeverria" class="button" target="_blank">
					<FaLinkedin />
					LinkedIn
			</a>
			<a href="https://x.com/MikelEcheve" class="button" target="_blank">
					<FaXTwitter />
					Twitter
			</a>
		</div>
	</section>
</div>

<style>
	.container {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		overflow: hidden;
		z-index: 1;
		padding: 2rem;
	}

	.content {
		display: flex;
		align-items: center;
		gap: 3rem;
		margin-bottom: 2rem;
		flex-direction: row; /* Asegurar disposición en fila para PC */
		justify-content: center; /* Centrar contenido horizontalmente */
		align-items: center; /* Centrar contenido verticalmente */
	}

	.container::before {
		content: '';
		position: absolute;
		width: 400px;
		height: 400px;
		background: #ffd700;
		border-radius: 50%;
		filter: blur(120px);
		opacity: 0.2;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;
	}

	h1 {
		font-size: 6rem;
		text-align: center;
		margin: 0;
		font-weight: 800;
		color: #1a1a1a;
	}

	span {
		font-size: 7rem;
		position: relative;
		font-weight: 900;
		background: linear-gradient(45deg, #ffd700, #ff9900);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
	}

	.icon-js {
		width: 25vh;
		height: 25vh;
		border-radius: 10%;
		transform: rotate(10deg);
		filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
	}

	.presentation-container {
		max-width: 800px;
		margin: 0 auto;
		text-align: center;
	}

	.description {
		font-size: 1rem;
		line-height: 1.8;
		color: #333;
		text-align: justify;
		padding: 2rem;
		background: rgba(255, 255, 255, 0.1);
		backdrop-filter: blur(15px);
		-webkit-backdrop-filter: blur(15px);
		border-radius: 1rem;
		border: 1px solid rgba(255, 255, 255, 0.2);
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	}

	.social-buttons {
		margin-top: 2rem;
		display: flex;
		gap: 1.5rem;
		justify-content: center;
	}

	.button {
		padding: 0.8rem 2rem;
		color: #333;
		text-decoration: none;
		border-radius: 0.5rem;
		border: 2px solid #ffd700;
		font-weight: 500;
		transition: all 0.3s ease;
	}

	.button:hover {
		background: linear-gradient(45deg, #ffd700, #ff9900);
		color: #fff;
		transform: translateY(-2px);
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	}

	.button svg {
		width: 20px;
		height: 20px;
		margin-right: 8px;
		vertical-align: middle;
	}

	@media (max-width: 768px) {
		.container {
			margin-top: 2rem;
		}
		.content {
			flex-direction: column; /* Disposición en columna para móviles */
			align-items: center; /* Centrar elementos en móvil */
			text-align: center; /* Centrar texto */
		}
		h1 {
			font-size: 3rem;
			text-align: center; /* Centrar encabezado en móvil */
		}

		span {
			font-size: 4rem;
		}

		.icon-js {
			width: 20vh;
			height: 20vh;
		}

		.description {
			font-size: 0.9rem;
			padding: 1.5rem;
		}

		.social-buttons {
			flex-wrap: wrap;
		}

		.button {
			width: 100%;
			text-align: center;
		}
	}
</style>
