---
---
<header>
    <nav class="buttons-container">
        <a href="https://www.mikeldev.com" target="_blank" rel="noopener" class="nav-button portfolio" title="Mi Portfolio" aria-label="mikeldev.com"/>
    </nav>
</header>

<style>
    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }
    .buttons-container {
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap; /* Permitir que los botones se envuelvan en pantallas pequeñas */
    }

    .nav-button {
        padding: 0.5rem 1rem;
        color: #333333;
        text-decoration: none;
        border: 1px solid #4444;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        transition: all 0.2s;
        justify-content: center; /* Centrar el contenido del botón */
    }

    .nav-button:hover {
        border: 1px solid #ffd700;
        background: linear-gradient(45deg, #ffd700, #ff9900);
		color: #fff;
		transform: translateY(-2px);
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .portfolio {
        position: relative;
        min-width: 6rem;
        min-height: 1rem;
    }

    .portfolio::before {
        content: "Mi Portfolio";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        white-space: nowrap;
    }

    .portfolio::after {
        content: "mikeldev.com";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 100%);
        opacity: 0;
        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        white-space: nowrap;
    }

    .portfolio:hover::before {
        opacity: 0;
        transform: translate(-50%, -100%);
    }

    .portfolio:hover::after {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    @media (max-width: 768px) {
        .buttons-container {
            position: static; /* Cambiar a posición estática en móviles */
            justify-content: center;
            gap: 0.5rem;
            margin-top: 1rem;
        }

        .nav-button {
            padding: 0.5rem;
            font-size: 0.9rem;
        }
    }
</style>