---
import Card from './Card.astro';

interface Proyectos {
    img: string;
    title: string;
    description: string;
    demo?: string;
    source?: string;
}

const proyectos: Proyectos[] = [
    {
        img: 'https://github.com/byronnDev/WebLLM-local/blob/main/media/screenshot.png?raw=true',
        title: 'Chatbot LLM con WebGPU',
        description: 'Chatbot desarrollado con WebGPU en el que puedes interactuar con un asistente virtual ejecutado 100% en tu equipo local.',
        demo: 'https://chat.mikeldev.com',
        source: 'https://github.com/byronnDev/WebLLM-local'
    },
    {
        img: 'https://github.com/byronnDev/markdownAnything/raw/refs/heads/main/assets/images/preview.webp ',
        title: 'MarkdownAnything',
        description: 'Convierte cualquier documento a Markdown con un simple drag and drop. Ideal para crear contenido web de forma rápida.',
        source: 'https://github.com/byronnDev/markdownAnything'
    },
]
---

<section id="proyectos" aria-label="Sección de proyectos">
    <div class="header-section">
        <h2>Proyectos</h2>
        <meta name="description" content="Proyectos web desarrollados con JavaScript vanilla, incluyendo aplicaciones interactivas y ejemplos prácticos">
    </div>

    <div class="proyectos">
    {proyectos.map((proyecto) => (
        <Card proyecto={proyecto} />
    ))}
    </div>
</section>

<style>
    .header-section {
        text-align: center;
        padding: 2rem clamp(1rem, 5vw, 3rem);
    }

    h2 {
        font-size: clamp(3rem, 6vw, 4rem);
        font-weight: 900;
        background: linear-gradient(90deg, #000000, #666666);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 1.5rem;
    }

    h2::after {
        content: '';
        display: block;
        width: 60px;
        height: 4px;
        background: #333;
        margin: 1rem auto;
        border-radius: 2px;
    }

    p {
        font-size: clamp(1rem, 2vw, 1.25rem);
        line-height: 1.8;
        color: #4b5563;
        max-width: 800px;
        margin: 0 auto;
    }

    .proyectos {
        padding: 4rem clamp(1rem, 5vw, 4rem);
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 350px));
        gap: 2rem;
        justify-content: center;
    }
    #proyectos {
        background: linear-gradient(145deg, #ffffff, #f0f0f0);
    }

    @media (max-width: 768px) {
        .proyectos {
            padding: 3rem 1rem;
        }

        h2 {
            font-size: 2.5rem;
        }

        p {
            text-wrap: pretty;
            font-size: 1.1rem;
        }
    }
</style>